{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block styles %}
    <style>
    .jumbotron{
        text-align: center;
    }
    </style>
{%  endblock %}

{% block jumbotron %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>ShopTime</h1>
    <p>Welcome to ShopTime! Buy stuff here.</p>
</div>
{% endblock %}

{% block content %}
<h1>Featured items</h1>
<br><br><br>
<div class="container">
    <div id="products" class="row list-group">
        {% for item in list %}
            {% if item.is_featured %}
            <div class="item  col-xs-4 col-lg-4">
                <div class="thumbnail" style="height: 420px;">
                    <a href="{{ item.get_absolute_url }}"><img style='height: 300px;' class="group list-group-image" src="{{ MEDIA_URL }}{{ item.photo }}" alt="" /></a>
                    <div class="caption">
                        <a href="{{ item.get_absolute_url }}"><h4 class="group inner list-group-item-heading">
                            {{ item.name }}</h4></a>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    ${{ item.price_in_dollars }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{%  endblock %}
