{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block styles %}
    <style>
    .jumbotron{
        text-align: center;
    }
    </style>
{%  endblock %}

{% block jumbotron %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>ShopTime</h1>
    <p>Welcome to ShopTime! Buy stuff here.</p>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <br>
    <h2>Featured items</h2>
    <br><br>
    {% for item in list %}
        {% if item.is_featured %}
            <div class="col-sm-4">
                      <h3><a href='{{ item.get_absolute_url }}'>
                    {% if item.photo %}
                        <img src="{{ MEDIA_URL }}{{ item.photo }}" class="img-responsive" style="width:300px;height:300px;"/>
                    {% else %}
                        <img class='img-responsive' src="{% static 'img/unavailable.png' %}" style="width:300px;height:300px;" />
                    {% endif %}
                </a>
                    <a href='{{ item.get_absolute_url }}'> <h3>{{ item.name }}</h3></a>
                </h3>
                <h4>${{ item.price_in_dollars }}</h4>
            </div>
        {% endif %}
    {% endfor %}
</div>
{%  endblock %}
