{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>

<body>
{% block content %}
    <h1>Shipping information</h1>
    <p>
    <h2>Shipping Address</h2>
    <form action="">
        Enter: <input type="text"
                      name="sAddress"><br>
        <button type="button"
                onclick="">
            Submit
        </button>
    </form>

    <h2>Receiver's name</h2>
    <form action="">
        Enter: <input type="text"
                      name="rName"><br>
        <button type="button"
                onclick="">
            Submit
        </button>
    </form>


    <h2>Delivery options</h2>
    <form action=""><!-- =function -->
        <input type="radio"
               name="rShipping"
               value="standard">
        Standard Shipping (4 - 7 days)<br>
        <input type="radio"
               name="rShipping"
               value="expedited">
        Expedited Shipping (3 - 5 days)<br>
        <input type="radio"
               name="rShipping"
               value="two_day">
        Two-day Shipping<br>
    </form>
    </p>

    <h1>Payment Information</h1>
    <h2>Payment Method</h2>
    <form action="">
        <input type="radio"
               name="payment"
               value="card"> Credit/Debit Card<br>
        <input type="radio"
               name="payment"
               value="bank"> Bank Account<br>
    </form>

    <h2>Billing Address</h2>
    <form action="">
        <input type="radio"
               name="bShipping"
               value="billing"> Add billing Address<br>
        <input type="radio"
               name="bShipping"
               value="same"> Same as shipping address<br>
    </form>

    <a href="{% url 'summary' %}" class="btn btn-default"> Complete Order</a>

{% endblock %}
</body>
</html>