{% extends "base.html" %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>

<body>
{% block content %}
    <h1>Shipping information</h1>
    <p>

    <h3>Receiver's name</h3>
    <form action="">
        <input type="text"
                      name="rName"><br>
    </form>

    <h3>Shipping Address</h3>
    <form action="">
        <input type="text"
                      name="sAddress"><br>
    </form>

    <h3>Delivery options</h3>
    <form action=""><!-- =function -->
        <input type="radio"
               name="rShipping"
               value="standard">
        Standard Shipping (4 - 7 days)<br>
        <input type="radio"
               name="rShipping"
               value="expedited">
        Expedited Shipping (3 - 5 days)<br>
        <input type="radio"
               name="rShipping"
               value="two_day">
        Two-day Shipping<br>
    </form>
    </p>

    <h1>Payment Information</h1>

    <h3>Card Number</h3>
    <form action="">
        <input type="text"
                      name="cardNum"><br>
    </form>
    <h3>Card Expiration Month</h3>
    <form action="">
        <input type="number"
                      name="cardExpMonth"><br>
    </form>
    <h3>Card Expiration Year</h3>
    <form action="">
        <input type="number"
                      name="cardExpYear"><br>
    </form>

    <h3>Billing Address</h3>
     <form action="">
        <input type="text"
                      name="bAddress"><br>
    </form>
    <br>
    <a type=submit href="{% url 'summary' %}" class="btn btn-default"> Complete Order</a>

{% endblock %}
</body>
</html>