{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
</head>

<body>

{% block styles %}
    <style>
    .header{
        text-align: center;
    }
    </style>
{%  endblock %}

{% block jumbotron %}
    <div class="header">
        <h1>Order Summary</h1>
    </div>
{% endblock %}

{% block content %}
    <p><br>
        Ship To: getattr(summary, 'r_name')<br>
        Expected arrival time: <br>


        <br>
        Items: $ cal_cart_total(cart)<br>
        Shipping & handling: $ <br>
        Total before tax: $ <br>
        Estimated tax: $ <br>
        Order total: $
    </p>
{% endblock %}
</body>
</html>