{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <th>Product  </th>
            <th>Quantity  </th>
            <th>Total Price  </th>
        </tr>


        {% for item in cart %}
        <tr>
            <a href ='{% url "remove_from_cart" item.product.id%}'>Remove from cart</a>
            <td>{{  item.product.name  }} </td>
            <td>{{  item.quantity  }}</td>
            <td>{{  item.total_price  }}</td>

        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'checkout' %}" class="btn btn-default"> Proceed To Checkout</a>

{% endblock %}