{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>{{ item.name }}</h1>
<h2>{{ item.price_in_dollars }}</h2>
    {% if item.photo %}
        <img class='img-responsive' src="{{ MEDIA_URL }}{{ item.photo }}" />
    {% else %}
        <img class='img-responsive' src="{% static 'img/unavailable.png' %}" />
    {% endif %}
{% endblock %}
</body>
</html>