{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h1>Product catalog</h1>
<br><br><br><br><br>
<div class="container">
    <div id="products" class="row list-group">
        {% for item in list %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail" style="height: 420px;">
                <a href="{{ item.get_absolute_url }}"><img style='height: 300px;' class="group list-group-image" src="{{ MEDIA_URL }}{{ item.photo }}" alt="" /></a>
                <div class="caption">
                    <a href="{{ item.get_absolute_url }}"><h4 class="group inner list-group-item-heading">
                        {{ item.name }}</h4></a>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                ${{ item.price_in_dollars }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</body>
</html>