{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
<h1>Search results</h1>
{% for item in result %}
    <div class="col-md-4" id="item">
    <link rel="stylesheet" href="{% static 'css/products.css' %}"/>
        <ul class="product">
            <h3><a href='{{ item.get_absolute_url }}'>
                {% if item.photo %}
                    <img src="{{ MEDIA_URL }}{{ item.photo }}" class="img-responsive" style="width:300px;height:200px;" id="item-photo"/>
                {% else %}
                    <img class='img-responsive' src="{% static 'img/unavailable.png' %}" style="width:300px;height:300px;" />
                {% endif %}
            </a>
                <a href='{{ item.get_absolute_url }}'> <h3>{{ item.name }}</h3></a>
            </h3>
            <h4>${{ item.price_in_dollars }}</h4>
        </ul>
    </div>
{% endfor %}
{% endblock %}

</body>
</html>